.app-auth-sign-in {
  font-family: system-ui, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  position: relative;
  padding: 0 20px;
}
.app-title {
  background: url(../images/neptune.png) no-repeat;
}

.app-auth-background {
  background-color: #e7ecf8;
  background-image: url("https://wext.ai/html/assets/images/screens/hero-illustration.webp");
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  overflow: hidden !important;
}

.app-auth-container {
  height: 100vh;
  width: 450px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  margin-right: 0;
}

.auth-fail {
  color: red;
  padding: 0px;
  margin: 15px 15px 15px 0;
}
.logo a {
  display: flex;
  padding-left: 70px;
  background: url(../images/neptune.png) no-repeat;
  height: 50px;
  background-size: 50px;
  align-items: center;
  text-decoration: none;
  color: #40475c;
  font-size: 21px;
  font-weight: bolder;
}

.app-auth-container .auth-description,
.auth-description {
  margin: 20px 0;
  color: #909aa7;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}

.form-control{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #e3e6ea;
  font-family: "Poppins-Bold", sans-serif;
}

.form-control::placeholder {
  color: #909aa7;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  width: 30%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.username-title {
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  color: #40475c;
}
